%li.item-container
  = i.check_box '_destroy', class: 'hidden destroy-item'

  = i.hidden_field :position, class: 'position'
  = i.check_box :done, class: 'item-done-field'

  %span.item-description.item-description-label{'data-toggle' => "tooltip", 'data-placement' => "top", 'title' => i.object.description}= i.object.description
  = i.text_field :description, class: 'item-description item-description-field hide'

  = link_to(t('list.item.remove'), '#', class: 'remove-item btn btn-danger pull-right hide')

