!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Luna To Do
    / Bootstrap core CSS
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    .container
      .header
        %ul.nav.nav-pills.pull-right
          %li.active
            %a{:href => "/"} Home
          %li
            %a{:href => "/lists"} Listas
          %li
            %a.open-overlay{:href => "/lists/new", 'data-overlay' => 'list'} Nova Lista
        %h3.text-muted Luna To Do
      #page-content
        = yield
      .footer
        %p © Lab Luna 2014

    #list.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}

  = javascript_include_tag "application"
  = yield(:javascripts)

